.header-link{
    color: black;
    padding: 0 5px;
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
}
.header-link-dot {
    margin-top: -0.5rem;
    opacity: 0;
    transition: opacity 200ms linear;
}
.header-link:hover{
    opacity: 0.5;
    color: darkblue;
}

.header-link-dot-active {
    margin-top: -0.5rem;
    display: block;
}