.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide-active{
    opacity: 1;
    transition-duration: 1s;
}

.row-div{
    display: flex;
    flex-direction: row;
}

.box-div{
    justify-content: center;
    align-items: center;
    margin: 30px;
}